<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="padding-left: 400px;">Welcome to homepage</h1>
    <p style="padding-left: 500px;">Welcome <%=user.name%></p>
    <div style="padding-left: 400px;"><img src="/images/WhatsApp Image 2023-07-31 at 22.37.29.jpeg" height="300px", width="300px" alt="atanu"/> </div>


</body>
</html>

